body {
    background-color: #f39d9d;
}

.container {
    margin-top: 75px;
}

.header {
    font-family: 'Lilita One', cursive;
}

.card {
    background-color: #162B32;
    border-radius: 30px;
    padding: 40px 100px;
}

.card-style {
    margin-left: -130px;
    width: 70px;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #e76868;
}

.card-style p {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
}

.table {
    background-color: #f39d9d;
}